extends ./layouts/_default.pug
block variables
	- var title = 'CRO Pickleball LP | Thiago Higuchi'
	- var description = 'Test project using HTML, CSS, and JS'
	- var author = 'Thiago Higuchi'
	- var imgPrefixUrl = IMG_PREFIX_URL

block content
	include ./partials/_navbar.pug
	main
		section#hero
			.container
				.hero
					.hero__highlight 
						h1 You're invited to the 2025 ClassPass Pickleball Classic
						p Pickleball is having a moment, and we're bringing the heat! To compete or just rally for fun, join the first ever ClassPass Pickleball Classic to have fast-paced matches, great vibes, and a day of game-time energy. Ready to play?
						a.button(href="#" aria-label="Sign up now") Sign up now
						a.button.button--outline(href="#" aria-label="Learn more") Learn more


		section#logos.section.section--logos.bg--light3
			.infinite-slide
				- for (let i = 1; i <= 10; i++)
					img(src=`images/brands-logos/logo${i}.png`, alt=`Logo ${i}`, loading="lazy")


		section#about.section.section--about.bg--light1
			.container
				.stack.gap--lg
					.content.stack.gap--sm
						h2.heading--2 What to expect
						p The day will be filled with plenty of fun and action. Here’s what to expect:
					
					.cards-grid
						- for (var i = 0; i < 4; i++)
							.cards-grid__item.stack.gap--sm
								img.border--clip.border--round-sm(
								src='images/press/Press_Image01.jpg', 									
								alt="Sports & Rec Weekly", 
								width="325", 
								height="161", 
								loading="lazy"
								)
								h4.heading--4 Exclusive event swag & prizes
								span 
									p Get limited-edition tournament gear and top prizes designed for competitors who bring their best to the court.


		section#schedule.section.section--schedule.bg--light1
			img(src='images/schedule-bg.jpg' alt="Schedule" loading="lazy")
			.container.bg--light1.border--round-md.max-width--600.margin-x--auto
				.stack.gap--sm
					h2.heading--2 Schedule of events
					ul.events 
						- for (var i = 0; i < 4; i++)
							li.events__item
								p.events__hour 8:00 AM
								p.events__title Check-in & warm-up courts open



		section#sponsors.section.section--sponsors.bg--light4
			.container
				.stack.gap--sm.max-width--600.margin-x--auto.text--center
					h2.heading--2 About our sponsors
					p Special thanks to our sponsors who have helped make this event possible.					
					

		section#news.section.section--news.bg--light2.border--clip
			.container
				.stack.gap--lg
					.stack.gap--sm.max-width--600.margin-x--auto.text--center
						h2.heading--2 Pickleball in the spotlight
						p Pickleball is the fastest growing sport globally, increasing in popularity 445% YoY. Here's what people have to say about pickleball in the news:
					
					.carousel.carousel__container
						.carousel__list
							- for (var i = 0; i < 4; i++)
								.card.stack.gap--sm
									img.border--clip.border--round-sm(
									src='images/press/Press_Image01.jpg', 
									alt="Sports & Rec Weekly", 
									width="325", 
									height="161", 
									loading="lazy"
									)
									p
										b "The fastest-growing sport in America is no longer just a trend—it's a movement."
									span 
										p —Sports & Rec Weekly
									a.link(href='form.html' aria-label="Read more") Read more

						.carousel__controls
							button.prev(aria-label="Previous Card") 
								span ‹
							button.next(aria-label="Next Card") 
								span ›

						.carousel__navigation


		section#cta.section.section--cta.bg--dark1
			//- img.illustration.illustration--bottom(src=imgPrefixUrl+'images/steps/illustrations--bottom.png' alt="Illustration 2" height="1432" width="1021" loading="lazy")
			.container.max-width--600
				.stack.gap--sm
					h2.heading--2 Don't miss out
					p Join the waitlist below to sign up for more event updates and get closer to securing your spot.
					a.button(href='form.html' aria-label="Sign up now") Sign up now
					
	script(src=FILE_PREFIX+'js/index.js' defer)
	script(src=FILE_PREFIX+'js/navbar.js' defer)
